html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
h1{
	color: #f00;
}
h2{
	font-family: Arial;
	font-weight: bolder;
}
h5{
	font-style: italic;
}
i{
	font-size: 12px;
}
.newBlock{
	color: #f00;
}
.container{
	width: 980px;
	margin: 0 auto;
}